/* page body --/-- Cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(237, 237, 237);
  height: 100vh;
}

/* Font --/-- Tipo de letra */
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  /* font-weight: 900; */
  font-style: italic;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  /* font-weight: 700; */
  font-style: italic; 
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  /* font-weight: 500; */
  font-style: italic;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  /* font-weight: 500; */
  font-style: normal;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Navigation bar navbar --/-- Barra de navegación */
.navbar {
  background-color: rgb(255 232 0);
  /* padding: 0.5rem; */

}

.navbar-collapse {
  /* align-items: center; */
  justify-content: flex-end;
}

.navbar-nav {
  align-items: center;
  justify-content: center;
}

/* Section presentation --/-- Sección de presentacion */
.presentation {
  /* background-color: rgb(199, 199, 194); */
  background-color: rgb(204, 204, 204);
  min-height: 100px;
  text-align: center;
  padding: 1.5rem;
}


/* exhibition section --/-- sección de exhibición */
.exhibition {
  padding: 40px 40px 60px 40px;

}

.exhibition .column {
  padding: 20px;
  /* border: 2px solid #8080804d; */
  border: 2px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.exhibition .column:hover {
  color: white;
  background-color: #1b1b32;
}

/* .exhibition .row div {
  height: 250px;
  background-color: gray;
  border: 3px solid orange;
} */

.exhibition .spare-parts {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.exhibition i {
  font-size: 2rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 12px;
  border-radius: 50%;
}

.badges-container {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Carousel care-staff --/-- Carrusel personal de atención */

.work-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-team .carousel {
  max-width: 800px;
}

.work-team .carousel-item {
  height: 400px;
}

.work-team .carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.care-image {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;   
}

.care-text {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
}

.care-info {
  font-weight: bold;
  text-align: center;
}

.care-info p {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .care-image {
      height: 120px;
      width: 120px;
  }    

  .care-text {
      font-size: 18px;
  }
}

/* Footer --/-- Pie de pagina */

footer {
  min-height: 250px;
  /* background-color: #0a0a23; */
  background-color: #1b1b32;
}

.iconos-redes a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes a:hover i {
  color: black;
}

.copyright {
  font-size: 15px;
  color: #aeaeae;
  padding: 10px;
}

/* page about us --/-- pagina sobre nosotros */

.mission {
  /* background-color: antiquewhite; */
  padding: 50px 100px 50px 100px;
  min-height: 480px;
  text-align: center;
}

.vision {
  /* background-color: antiquewhite; */
  padding: 50px 100px 50px 100px;
  min-height: 480px;
  text-align: center;
}

.our {
  padding: 50px 100px 50px 100px;
  min-height: 480px;
  text-align: center;
}

/* Page login --//-- Iniciar sesión en la página */

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 15px;
}

.login form {
  padding: 0 40px;
  box-sizing: border-box;
}

.logo img {
  padding: 2px 0 2px 5px;
}

.logo h4 {
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 2px solid silver;
}

form .username {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

form .password {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.username input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.username label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.username span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #6c3483;
  transition: .5s;
}

.password input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.password label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.password span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #6c3483;
  transition: .5s;
}

.username input:focus~label,
.password input:focus~label {
  top: -5px;
  color: #6c3483;
}

.username input:focus ~ span::before,
.password input:focus ~ span::before {
  width: 100%;
}

.remember {
  margin: -5px 0 20px 5px;
  color: blue;
  cursor: pointer;
}

.remember:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  border: 1px solid;
  background-color: #6c3483;
  border-radius: 25px;
  font-size: 18px;
  color: aqua;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: purple;
  transition: .5s;
}

.register {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: black;
}

.register a {
  color: blue;
  text-decoration: underline;
}

.register a:hover {
  text-decoration: underline;
}



